/* WebGL Css 설정 관련 인수 인계 https://docs.google.com/document/d/1095m_b_cXyUO3CgbWmHTPt1iEAQl3Q1Ef6asvrhW_hk/edit?tab=t.0#bookmark=id.o5zaemcxv1o6 */

body {
    padding: 0;
    margin: 0
}

#unity-container {
    position: absolute
}

#unity-container.unity-desktop {
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%)
}

#unity-container.unity-mobile {
    position: fixed;
    width: 100%;
    height: 100%
}

#unity-canvas {
    background: #000000
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
    background: #000000;
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}

#unity-footer {
    position: relative
}

.unity-mobile #unity-footer {
    display: none
}

#unity-logo-title-footer {
    float: left;
    width: 102px;
    height: 38px;
    background: url('unity-logo-title-footer.png') no-repeat center
}

#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px
}

#unity-fullscreen-button {
    cursor: pointer;
    float: right;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}

#unity-logo {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -65%);
    background-image: url('LogoIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 303px;
    background-size: contain;
}

#unity-loader-message {
    position: absolute;
    top: calc(45% + 140px); 
    transform: translateX(-50%);
    color: #d9c290;
    font-size: 20px;
    font-family: sans-serif, calibri;
    text-align: center;
	white-space: nowrap; 
    width: auto; 

}

#unity-loader-lable {
    position: absolute;
    top: calc(45% + 180px);
    transform: translateX(-50%);
    font-size: 20px;
    text-align: center;
    font-family: sans-serif, calibri;
    color: white;
}

.unity-mobile #unity-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    background-repeat: no-repeat;
    background-position: cover;
    width: 300px;
    height: 303px;
    background-size: contain;
}

.unity-mobile #unity-loader-lable {
    transform: translate(0,400%);
    position: relative;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif, calibri;
    color: white;
}

.unity-mobile #unity-loader-message {
    transform: translate(0,380%);
    position: relative;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif, calibri;
    color: #d9c290;
}
